<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.IGoodDao">
    <select id="getList" resultType="com.example.demo.entity.Good">
        select * from goods;
    </select>

    <insert id="addGood" parameterType="com.example.demo.entity.Good">
        insert into
        goods(name, stock, asles_volume, price, img_url, description, state)
        values(#{name}, #{stock}, #{aslesVolume}, #{price}, #{imgUrl}, #{description}, #{state});
    </insert>

    <update id="buyGood" parameterType="java.lang.Integer">
        update goods set stock = stock - #{num}, asles_volume = asles_volume + #{num}
            where stock >= #{num} and id = #{id};
    </update>

    <update id="checkState" parameterType="java.lang.Integer">
        update goods set state = 2 where id = #{id} and stock = 0;
        update goods set state = 1 where id = #{id} and stock > 0;
    </update>
</mapper>